h1 {
    text-align: center;
    font-weight: bold;
    text-decoration: firebrick underline;
    line-height: 10pt;
    letter-spacing: 10px;
    font-size: 80px;
    font-family: papyrus;

}

p {
    font-weight: bold;
}

a {
    text-decoration: none;
}