h2 {
    color: #5f1019;
    background-color: rgb(176, 205, 13);
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: orange;
}

body {
    background-color: #ffeaac;
}