<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <h1>Oops..... could not found the <%= subreddit %> subreddit you're searching for.. :-/</h1>
    <%- include('partials/footer') %>